header{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: $accent_color;
    color: white;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 11px #555555;
    padding: 0.25rem 0rem;
}

header > *{
    flex-grow: 1;
    padding: 0.25rem;
}

#logo{
    display: block;
    font-size: 1.5rem;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav>button, #logo{
    background-color: $accent_color;
    color: white;
    padding: 0.5rem 0.75rem;
    border: none;
}

nav>button:hover{
    background-color: $accent_alt;
    color: white;
    border: none;
}